{% extends 'prescription/base.html' %}
{% load static %}





{% block content %}
<div style="color: white; background-color: black;">
<div class="container py-5" >
	<div class="row">
	<div class="col-6">
		<h1>About JFL Soft</h1>
		<h6>Email: jflsoftbd@gmail.com</h6>
		<h6>Youtube: https://youtu.be/hCzNwbKzZf0</h6>
		<h6>facebook: fb.com/jflsoft</h6>

		<h6>Bangladesh</h6>
	</div>
	<div class="col-6">
		<img src="{% static 'img/jfllogo.png' %}" style="height: 250px;">
	</div>
	</div>
<hr/>



<div class="hero__content">
<h1 class="title title--uppercase">
Programing & Web development services </h1>
<p class="hero__lead">JFL Soft has been delivering impactful and engaging web products for leading companies across the majority of industries for over 2 years. Leverage our unique and broad-ranging expertise to build a rich-festrong textatured labor management portal, a speedy progressive web app, or even an AR-powered ecommerce store. We deliver comprehensive web development services with clear results and a clear development process.</p>
</div>

<p>Leverage our unique, broad-ranging expertise to build a rich-featured labor management portal, a speedy progressive web app, or even a ecommerce store with Augmented Reality. We deliver comprehensive web development services with clear results and a clear development process.</p>



<div class="key-points__content">
<h2 class="title title--black key-points__header">WHAT YOU GET</h2>
<p class="key-points__description">Our streamlined development process and experience allow us to deliver top-of-the-line web development services that tick all the boxes.</p>
<ul class="platform-client__list">
<li class="platform_client__list-item platform_client__list-item--column">Carefully analyzed requirements</li>
<li class="platform_client__list-item platform_client__list-item--column">Stand-out, easy-to-navigate UI &amp; UX design</li>
<li class="platform_client__list-item platform_client__list-item--column">Secure and scalable solution that works fast</li>
<li class="platform_client__list-item platform_client__list-item--column">Responsive design</li>
<li class="platform_client__list-item platform_client__list-item--column">Custom features</li>
<li class="platform_client__list-item platform_client__list-item--column">Rich and engaging visuals</li>
<li class="platform_client__list-item platform_client__list-item--column">Maintenance and support</li>
</ul>
</div>


<h2 class="teach-title">
LATEST TECH IN WEB SOLUTIONS
</h2>

<p class="teach-description">
As JFLsoft is a digital transformation-first company, we can help you enhance your web solution with the latest tech in a meaningful way.
</p>



<h2 class="dev-team__title">Our Web Development Process</h2>
<p class="dev-team__description">As we have been delivering web development services for over a decade, our process is clear, effective and enables timely delivery of your web solution. From comprehensive requirement gathering to ensuring continuous operation of your web solution after deployment, we have everything covered for you.</p>



<div class="h4">1 KICK-OFF STAGE</div>
<p>On this stage, our experts translate your business requirements into technical documents for your web solution. We also gather the team, and its designer(s) create a basic design. This stage lays the foundation for the entire project. </p>



<div class="h4">2 DEVELOPMENT STAGE</div>
<p>Our software engineers create your web solution. JFLsoft uses the Scrum methodology, so you will review results every two weeks. Then, our experts perform User Acceptance Testing and deploy your web solution.</p>


<div class="h4">3 SUPPORT STAGE</div>
<p>After your web solution is released, we perform continuous server monitoring, allocate team members to fix bugs, and provide general customer support.</p>


</div>


{% endblock %}

</div>