
{% load static %}

  <script src="{% static 'assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <style type="text/css">
  	
.box{
	background-color: #e8fcfc;
}
.main-box{
	font-family: Kalpurush;
}
  </style> 


<div class="container main-box">
<!---First container-->
    <div class="row mt-3 box">
      <div class="col-sm-12" style=" background-color: green; color: white; text-align: center;"><h3>চর্ম, যৌন, ও সেক্স, এলার্জি, ব্রুণ ও মেছতা রোগে বিশেষজ্ঞ</h3></div>
    </div>


<!---2nd container-->
    <div class="row mt-1 box">
      <div class="col-sm-6" style="line-height: 5px;">
      	<h2>ডাঃ লক্ষণ চন্দ্র হোড় (বাবন)</h2>
      	<h5>এম.বি.বি.এস(ডি.ইউ), ডি.এম.ইউ (বি.টি.ই.বি)</h5>
      	<p>এম.পি.এইট, নিপসম, ঢাকা</p>
      	<p>পোস্ট গ্র্যাজুয়েট ট্রেনিং (চর্ম, যৌন, ও সেক্স, এলার্জি, ব্রুণ ও মেছতা)</p>
      	<p>মেডিকেল অফিসার, চর্ম, যৌন, ও সেক্স রোগ বিভাগ</p>
      	<p>ময়মনসিংহ মেডিকেল কলেজ হাসপাতাল, ময়মনসিংহ।</p>
      </div>
      <div class="col-sm-6" style="text-align: right; line-height: 5px;">
      	<h2>Dr. Laxman Chandra Hore(Babon)</h2>
      	<h5>M.B.B.S (DU), D.M.U (BTEB)</h5>
      	<p>M.P.H, Nipson, Dhaka</p>
      	<p>Post Graduatre Training (Skin & VD)</p>
      	<p>Medical Officer, Department of Skin & VD</p>
      	<p>Mymensingh Medical College, Mymensingh</p>
  	  </div>
    </div>


<!---3rd container-->
    <div class="row mt-2 box" style=" background-color: green; color: white; font-size: 20px; text-align: center;">
      <div class="col-" style="width:13%;">রোগীর নামঃ</div>
      <div class="col-sm-4" style=" background-color: white; color: black; text-align: left;"><b>{{ patient.name }}</b></div>
      <div class="col-" style="width: 6%;">বয়সঃ</div>
      <div class="col-sm-2" style=" background-color: white; color: black; text-align: left;">
      	{% if patient.age_y %}
      	<b>{{ patient.age_y}} Year</b>
      	{% endif %}

      	{% if patient.age_m %}
		<b>{{ patient.age_m}} month</b>
		{% endif %}


		{% if patient.age_d %}
		<b>{{ patient.age_d}} day</b>
		{% endif %}

      </div>
      <div class="col-sm-" style="width:8%;">তারিখঃ </div>
      <div class="col-" style=" background-color: white; color: black; text-align: left; width: 14%;"><b> {{ patient.date }}</b></div>
      <div class="col-" style="width:3%;">ID: </div>
      <div class="col-sm" style=" background-color: white; color: black; text-align: left;width:5%;"><b>{{ patient.id }}</b></div>
    </div>


<!---Left side-->
    <div class="row mt-2 box" style="height: 1000px;">
      <div class="col-sm-3" style="font-size: 16pt;">
      	<u>CC</u>
      	<p>{{ object.cc }}</p>
		<u>OE</u>
		<p>{{ object.oe }}</p>
		<p>Pulse : {{ object.pulse }}</p>
		<p>BP : {{object.bp}}</p>

		
      	<table style="font-size: 16pt;">
      		  <tr>
      		  	<th></th>
		        <th><u>Advice</u></th>
		      </tr>
      	  {% for order_item in object.test.all %}
		      <tr>
		        <td>{{ forloop.counter }}.</td>
		        <td>{{ order_item.title }}</td>
		      </tr>
		  {% endfor %}
		  	  <tr>
		  	  	<th>+</th>
		        <td>{{ object.others_test }}</td>
		      </tr>
		</table>

		<br/><p>Extra</p>
      </div>

<!---Right side-->
      <div class="col-sm-9" style="text-align:; background-color: #f2e6ff;">
      		<a href="{% url 'add_medicine' object.id %}" class="btn btn-success  mt-3">Add Medicine</a>
          <a class="btn btn-primary mt-3" value="" onClick="window.print()">Print</a>
          <a href="{% url 'create' %}" class="btn btn-success  mt-3">Back</a>
  	  </div>
    </div>

<b>চেম্বারঃ</b>
<!--Footer-->
	<div class="row box">
		<div class="col-sm-6"><h1>দিশা হেলথ্ সেন্টার</h1></div>
		<div class="col-sm-6 text-right">
			পরবর্তী সাক্ষাতঃ {{object.next_date}} দিন পর। <br/>
			প্রতিদিনঃ দুপুর ৩ টা থেকে রাত ৯ টা
		</div>
	</div>

</div>